body{
    font-family: 'Arima', cursive;
    margin:0;

}


h1{
    font-size:47px;
}
.top-banner{
   
    text-align: center;
  
        background-size:contain;
        background-repeat:no-repeat;
        background:linear-gradient(rgba(168, 168, 163, 0.253),rgba(0, 0, 0, 0.685)), url(donation7.jpg);
        height:1000px;
        width:100%;
     

   

}
.banner-text{
    color: rgb(223, 223, 223);
    margin: auto;
    width:500px;
    padding:250px 20px;
    
}
.donate-button{
    background-color: rgb(65, 133, 192);
    padding:11px 15px;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    color:antiquewhite;
    font-size: 20px;
    margin-top:15px;
}

























