body{
    font-family: 'Arima', cursive;
    margin:0;
}


h1{
    font-size:55px;
    font-weight: 700;
}
h2{
    font-size:50px;
    font-weight: 600;}
h4{
    color:tomato;
    font-size:30px;
    margin: 0;
    padding: 20px;
   
  
}
p{
    font-size:15px;
}

.top-banner{
   
   background:linear-gradient(rgba(25, 26, 25, 0.11),rgba(0, 0, 0, 0.918)),url('donation4.jpg');
   width: 100%;
   height:726px;
   background-repeat: no-repeat;
   background-size:cover;
   text-align: center;
}
.banner-text{
    color: rgb(223, 223, 223);
    margin: auto;
    width:800px;
    padding:150px 20px;
}
.donate-button{
  text-decoration: none;
  color:#fffefe;
  background: rgba(33, 192, 166, 0.644);
  display: inline-block;
  height:40px;
  width:150px;
  margin-top: 60px;
  border-radius: 5px;
  padding-top: 20px;
  outline: 2px solid rgb(24, 33, 37);
  margin-bottom: 40px;;
  font-size: 20px;
}
.donate-today-container{
    width:100%;
}
.donate-today-box{
    margin: auto;
    width:700px;
    height:670px;
    text-align: center;
    font-weight: 500;
    margin-top: 100px;
}
.money-amount{
    display: inline-block;
    background:#e6e6e6;
    border-radius: 6px;
    width:90px;
    height:90px;
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 50px 15px;
    font-size: 23px;
}
#clicked{
    background: rgba(241, 38, 38, 0.192);
    outline:2px solid red;
    color:rgb(216, 16, 16);
}
.money-amount-input-box{
    width: 100%;
    height:40px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid gray;
    text-align: center;
    font-size: 15px;
    outline: none;
}
.donate-box{
    width: 1100px;
    margin: auto;
    font-weight: 500;
    margin-top: 100px;
 }
.title-and-text{
   padding-left: 150px;
   padding-right: 150px;
   text-align: center;
}
.plans{
   display: inline-block;
   margin: auto;
  

}
.food{
    background: #c675f5c7;
    text-align: center;
    border-radius: 6px;
    height:290px;
    padding-top: 83px;
    width: 350px;
    margin-left: 13px;
    display: inline-block;
}

.shelter{
    background: rgba(123, 255, 248, 0.774);
    width: 350px;
    height:290px;
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    padding-top: 83px;
    margin-left: 13px;
}


.medicine{
    background:#e3eb77e3;
    height:368px;
    width: 350px;
    padding-top:10px;
    margin-left: 13px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
}

.overview{
    width:100%;
    text-align:  center;
    margin-top: 100px;
    
}
.there-condition{
    width:500px;
    height: 395px;
    border-radius: 6px;
}
.overview-title{
    width:550px;
    display:inline-block;
}

.contribute-button{
    text-decoration: none;
    color:#fffefe;
    background: rgba(255, 123, 0, 0.644);
    display: inline-block;
    height:50px;
    width:300px;
    margin-top: 30px;
    border-radius: 5px;
    padding-top: 20px;
    outline: 2px solid rgba(141, 134, 84, 0.753);
    margin-bottom: 40px;;
    font-size: 20px;
  }
  .input-form{
    text-align: center;
    margin-bottom: 60px;
  }
  .instruction{
    width:500px;
    margin: auto;
    border-radius: 6px;
  }
.user-info{
    background: rgba(243, 173, 116, 0.541);
    height:150px;
    padding-top: 100px;
    width:1000px;margin: auto;
}
.user-info input{
   height:55px;
   width: 400px;
   border: none;
   outline: none;
   background: rgb(230, 230, 230);
   border-radius: 6px;
   padding-left: 30px;
}
.user-info a{
    height:43px;
    width: 150px;
    border: none;
    outline: none;
    background:rgba(255, 109, 109, 0.801) ;
    border-radius: 6px;
    display: inline-block;
    padding-top: 17px;
    text-decoration: none;
    color: #e6e6e6;
    text-align: center;
 }
.footer{
    color: #e6e6e6;
    background: rgb(41, 38, 38);
    margin-bottom: 0;
    text-align: center;
    height: 150px;
}









